<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container col-md-9">
    <li> <b>Email</b> : {{email}}</li>
    <li> <b>Hotline</b> : {{hotline}}</li>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="collapse navbar-collapse col-md-4">
        <div class="navbar-nav">
          <a class="nav-item nav-link active col-md-6" [routerLink]="['/frontpage']"><font class="white-font">Home</font></a>
          <a class="nav-item nav-link col-md-6" [routerLink]="['/packages']"><font class="white-font">Package</font></a>
          <a class="nav-item nav-link col-md-6" [routerLink]="['/blog']"><font class="white-font">Blog</font></a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-light" [routerLink]="['/inquire']">
      Inquire Now
    </button>
</nav>
