.headerMRP{
  text-align: center;
  color: #140d33;
}

.image-dashboard{
  max-width: 350px;
  max-height: 300px;
  justify-content: center;
  border: 10px;
  padding: 1ch;
}

.row{
  display: inline-block;
  padding: 1cm;
}

.titlefont1{
  color:#271e52;
}
