.image-dashboard{
  max-width: 300px;
  max-height: 300px;
  justify-content: center;
  border: 10px;
}
.headerPackages{
  text-align: center;
  color: #140d33;
}

.packageCardTitle{
  text-align: center;
  color:#140d33;
}
.catagoryTopic{
  color:#271e52;
}
.readMoreBtn{
  background-color:#271e52;
  color:white;
}
