<div class="container col-md-12">
    <img class="image-dashboard" src="assets/images/image1.jpg">
</div>
<br>
<div class="container inquiry-container col-md-11">
 <ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-dark">
    <b>Plan Your Holiday</b>
  </li>
  <li class="list-group-item list-group-item-success ">
    <input class="input1" type="text" placeholder="My Name" >
  </li>
  <li class="list-group-item list-group-item-success ">
      <input class="input1" type="text" placeholder="My Number" >
  </li>
  <li class="list-group-item list-group-item-success">
      <input class="input1" type="text" placeholder="My Email" >
  </li>
  <li class="list-group-item list-group-item-success">
      <input class="input1" type="text" placeholder="My Country" >
  </li>
  <li class="list-group-item list-group-item-success">
      <button class="btn btn-success btn-sm">Contact Me</button>

  </li>
 </ul>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="card border-success">
            <div class="card-body ">
              <h5 class="card-title">Who We Are ... </h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-success">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card border-success">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
      </div>
</div>
